fastparquet
IProgress
ipykernel
ipywidgets
jupyterlab
matplotlib
numpy
openpyxl
optuna
optuna-integration
pandas
plotly
pyarrow
pyreadstat
pytest-watch
scikit-learn
seaborn
shap
tqdm
unidecode
xgboost
